---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import IntroStatement from '../components/IntroStatement.astro';
import Books from '../components/Books.astro';
import BuyFrom from '../components/BuyFrom.astro';
import Testimonials from '../components/Testimonials.astro';
import About from '../components/About.astro';
import Visits from '../components/Visits.astro';
import Activities from '../components/Activities.astro';
import Events from '../components/Events.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <IntroStatement />
    <Books />
    <BuyFrom />
    <Testimonials />
    <About />
    <Visits />
    <Activities />
    <Events />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
